.form-control:focus, .form-select:focus{
    border-color: #dee2e6 !important;
    box-shadow: none !important;
}

.min-width-250{
    min-width: 250px !important;
}

.dropify-wrapper .dropify-message p{
    font-size: 16px !important;
}

.dropify-wrapper{
    border-radius: .375rem !important;
    border: 1px solid #dee2e6 !important;
}

.dropify-render img{
    display: inline !important;
}

.logo-sm{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
}